* {
    margin: 0;
    padding: 0;
}

img {
    user-select: none;
    outline: none;
}

body {
    width: 100%;
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 200px;
}

body header .page-name {
    display: block;
    color: white;
    margin-left: 150px;
    font-family: 'BankGothicRUSS';
    font-size: 3em;
}

body header .nick-logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body header .nick-logout h5 {
    margin-right: 20px;
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
}

body header .nick-logout span {
    margin-right: 20px;
    color: white;
    font-size: 1.5em;
}

body header .nick-logout a {
    color: gray;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px;
    border-bottom: solid #fff;
    border-bottom-width: 2px;
}

body header .nick-logout a:hover {
    border-bottom: solid #fff;
    border-bottom-width: 5px;
    color: white;
}

body main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

body main .man-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 20px;
    width: 15%;
    margin-left: 10%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 700px;
}

body main .man-info #avatar {
    border-radius: 20px;
    width: 285px;
    height: 285px;
    -webkit-box-shadow: 0px 1px 10px 1px #000;
    box-shadow: 0px 1px 10px 1px #000;
}

body main .man-info .score {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    margin-top: 10px;
    border-radius: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #cfcfcf;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body main .man-info .score img {
    width: 30px;
    margin-right: 5px;
    height: 30px;
    border-radius: 5px;
}

body main .man-info .score span {
    font-size: 30px;
    font-family: 'BankGothicRUSS';
}

body main .man-info .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
}

body main .man-info .info span {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-top: 30px;
    font-size: 15px;
}

body main .man-info .info span nav {
    font-family: "BankGothicRUSS";
    letter-spacing: 1px;
    margin-left: 10px;
}

body main .opportunuties {
    width: 60%;
    margin-left: 5%;
    height: 100%;
    //linear-gradient(135deg, #c36fd4 0%,#332bab 100%); 
    padding: 1.5rem;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

//Tab's profile opportunities
.wrapper {
    margin: 100px auto;
    width: 80%;
    font-family: sans-serif;
    color: #98927C;
    font-size: 14px;
    line-height: 24px;
    max-width: 600px;
    min-width: 340px;
    overflow: hidden;
}

.tabs {
    li {
        list-style: none;
        float: left;
        width: 20%;
    }
    a {
        display: block;
        text-align: center;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        color: #fff;
        height: 70px;
        line-height: 90px;
        background: linear-gradient(165deg, transparent 29%, #98927C 30%);
        &:hover,
        &.active {
            background: linear-gradient(165deg, transparent 29%, #F2EEE2 30%);
            color: #98927C;
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 11;
            left: 100%;
            top: -100%;
            height: 70px;
            line-height: 90px;
            width: 0;
            border-bottom: 70px solid rgba(0, 0, 0, .1);
            border-right: 7px solid transparent;
        }
        &.active:before {
            content: '';
            position: absolute;
            z-index: 11;
            left: 100%;
            top: -100%;
            height: 70px;
            line-height: 90px;
            width: 0;
            border-bottom: 70px solid rgba(0, 0, 0, .2);
            border-right: 20px solid transparent;
        }
        // &:last-child:before, &.active:last-child:before{
        //   border: none;
        // }
    }
}

.tabgroup {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    ;
    div {
        padding: 30px;
        background: #F2EEE2;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}