* {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

body {
  width: 100%;
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px;
}

body header .page-name {
  display: block;
  color: white;
  margin-left: 150px;
  font-family: 'BankGothicRUSS';
  font-size: 3em;
}

body header .nick-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .nick-logout h5 {
  margin-right: 20px;
  color: white;
  font-size: 1.3em;
  margin-top: 10px;
}

body header .nick-logout span {
  margin-right: 20px;
  color: white;
  font-size: 1.5em;
}

body header .nick-logout a {
  color: gray;
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px;
  border-bottom: solid #fff;
  border-bottom-width: 2px;
}

body header .nick-logout a:hover {
  border-bottom: solid #fff;
  border-bottom-width: 5px;
  color: white;
}

body main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .man-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 20px;
  width: 15%;
  margin-left: 10%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 700px;
}

body main .man-info #avatar {
  border-radius: 20px;
  width: 285px;
  height: 285px;
  -webkit-box-shadow: 0px 1px 10px 1px #000;
  box-shadow: 0px 1px 10px 1px #000;
}

body main .man-info .score {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin-top: 10px;
  border-radius: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #cfcfcf;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body main .man-info .score img {
  width: 30px;
  margin-right: 5px;
  height: 30px;
  border-radius: 5px;
}

body main .man-info .score span {
  font-size: 30px;
  font-family: 'BankGothicRUSS';
}

body main .man-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

body main .man-info .info span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-top: 30px;
  font-size: 15px;
}

body main .man-info .info span nav {
  font-family: "BankGothicRUSS";
  letter-spacing: 1px;
  margin-left: 10px;
}

body main .opportunuties {
  width: 60%;
  height: 700px;
  margin-left: 5%;
}

#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  margin: 0 .5em 0 0;
}

#tabs a {
  position: relative;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: linear-gradient(to bottom, #fff, #ddd);
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 5px 0 0 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs a::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: -.5em;
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: linear-gradient(to bottom, #fff, #ddd);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;
}

#tabs #current a {
  background: #fff;
  z-index: 3;
}

#tabs #current a::after {
  background: #fff;
  z-index: 3;
}

/* ------------------------------------------------- */
#content {
  background: #fff;
  padding: 2em;
  height: 220px;
  position: relative;
  z-index: 2;
  border-radius: 0 5px 5px 5px;
  -webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5);
}

#content h2,
#content h3,
#content p {
  margin: 0 0 15px 0;
}

/* ------------------------------------------------- */
#about {
  color: #999;
}

#about a {
  color: #eee;
}
/*# sourceMappingURL=profile.css.map */